@import '@fontsource/fira-mono';

html {
	font-family: monospace;
}

body {
	min-height: 100vh;
	margin: 0;
}

#svelte {
	transition: background-color 0.3s;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--color-background);
}

a {
	color: rgb(8, 177, 255);
}

a:visited {
	color:rgb(182, 96, 252)
}